---
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/LoginForm";

const val = Astro.cookies.get("SID").value;
if (val) return Astro.redirect("/home");
---

<Layout title="Login | Welcome">
  <div
    style={{ width: "375px" }}
    class="bg-white shadow p-10 rounded mx-auto self-center flex flex-col gap-4"
  >
    <h2 class="text-4xl font-light">Login | Welcome!</h2>
    <LoginForm client:load />
  </div>
</Layout>

<style></style>
