---
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/LoginForm";

const val = Astro.cookies.get("SID").value;
if (val) return Astro.redirect("/home");
---

<Layout title="Login | Welcome">
  <div
    style={{ paddingTop: "7%" }}
    class="bg-slate-50 flex-1 flex flex-col items-center"
  >
    <div
      style={{ width: "375px" }}
      class="bg-white shadow-lg p-10 rounded flex flex-col gap-4"
    >
      <h2 class="text-4xl font-light">Login</h2>
      <LoginForm client:load />
    </div>
  </div>
</Layout>

<style></style>
